__pycache__
*.pyc
span.log
*.prototxt
*.deploy
*.pb
*.pt
*.log
*.onnx
*.stcobj
.vscode
*.swp
*.npy
*.csv
*.pickle
*.ipynb
*.pkl
*.cc
error_cvt.txt
*.torrent
.DS_Store
download
engines/STC/mix_tmp
model_zoo-*
workloads-*
venv
model_zoo/open
model_zoo/zoo
model_zoo/models
private_model_zoo
reports/STC
reports/CPU
reports/LOG
reports/commit_id.txt
ILSVRC2012_img_val
dev-v1.1.json
vocab.txt
cifar-100-python
datasets/open_cail2019/test.json
dump_ir
*.relay
.nfs*
ddk_config
workloads_raw
model_zoo_raw
model_zoo_paddle/models
model_zoo_dataset/
reports_all_remote/
test.py
pool_local.py
workloads_dataset/
workloads_dataset_allbatch/
benchmark
*.so
evaluation
datasets/china-people-daily-ner-corpus/*.dev
datasets/china-people-daily-ner-corpus/*.test
datasets/china-people-daily-ner-corpus/*.train
datasets/test_icdar2015/ch4_test_images
datasets/test_icdar2015/test_icdar2015_label.txt
datasets/cmcc_tsm/test_data
lfw_mtcnnpy_160
