tensorflow==1.15.0
protobuf==3.19.4
decorator
graphviz
scipy
attrs==21.2.0
pyyaml
synr
multipledispatch
pytest
matplotlib
pulp
sklearn
torchvision==0.10.1
torch==1.12.1
onnx
onnxruntime==1.10.0
pybind11>=2.9.1
bert-tensorflow==1.0.1
tqdm
psutil
pydot
sentencepiece==0.1.96
virtualenv==16.7.9
keras2onnx